.header-title {
    padding-top: 1em;
    font-size: 3em;
    font-weight: 330;
}

.canvas {
    border: 2px solid black;
    margin-top: 30px;
}

#room-segment {
    margin-top: 90px;
}

#game-draw-area {
    padding-bottom: 100px;
}

.inline {
    display: inline;
}

.hide {
    display: none;
}

/*
.ui.range {
    display: inline-block;
    width: auto;
}*/